body {
  margin-right: 15%;
  margin-left: 15%;
  margin-top: 2%;
}

.slideshow-container {
  margin-bottom: 3%;
}

.mySlides {
  display: none;
}

.mySlides img {
  width: 100%;
}

.triple-container {
  display: flex;
}

.triple-container img,
.triple-container div {
  width: 32%;
}

.triple-container div {
  margin-left: 2%;
  margin-right: 2%;
  background-color: rgba(124, 145, 150, 0.8);
  text-align: center;
}

.triple-container div h2,
.triple-container div h3 {
  color: white;
}

.triple-container div h2 {
  margin-top: 30%;
}

.triple-container div p {
  background-color: #4a4a4c;
  border: none;
  font-size: large;
  display: inline-block;
  padding: 10px;
}

.triple-container div p a {
  text-decoration: none;
  color: white;
}

.categoryPage {
  display: flex;
}

.sidebar {
  background-color: darkgrey;
  width: 25%;
  text-align: center;
}

.sidebar div {
  margin-left: 22%;
}

.sidebar div div {
  margin-left: 0;
}

.sidebar h2 {
  color: white;
}

.productList {
  width: 75%;
  flex-wrap: wrap;
}

.product {
  border: 2px solid black;
  margin: 1%;
  float: left;
  width: 185px;
  height: 190px;
  position: relative;
}

.product div {
  text-align: center;
  font-size: small;
  max-height: 20%;
}

.product div p {
  margin: 0;
}

.product img {
  max-width: 100%;
  height: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  transition: 0.5s ease;
}

.product:hover img {
  opacity: 0.3;
}

.cover {
  transition: 0.5s ease;
  opacity: 0;
  text-align: center;
  transform: translate(0%, -350%);
}

.cover:hover {
  opacity: 2;
}

.cover img {
  height: 100%;
}

form {
  margin-top: 2%;
}

form label,
form input {
  width: 20%;
}

form input {
  margin-bottom: 1%;
}

form input[type=submit] {
  background-color: black;
  color: white;
  height: 35px;
}

form input[type=submit]:hover {
  background-color: #ddd;
  color: black;
}

.link {
  text-decoration: none;
  color: black;
  background-color: lightgray;
  padding: 5px;
}

.cartItem b {
  float: right;
}

.buyButton {
  background-color: green;
  border-color: green;
  font-size: larger;
  color: rgba(0, 180, 45, 0.8);
}

