#mainNav {
  background-color: #333;
  overflow: hidden;
  margin-bottom: 1%;
}

#mainNav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 13px;
}

#mainNav a:hover {
  background-color: #ddd;
  color: black;
}

#subNav {
  text-align: right;
  margin-bottom: 1%;
}

#subNav a {
  font-size: 13px;
}

