body{
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 2%;
}

.slideshow-container{
    margin-bottom: 3%;
}

.mySlides {
  display: none;

    img{
        width: 100%;
    }
}

.triple-container{
    display: flex;

    img, div{
        width: 32%;
    }

    div{
        margin-left: 2%;
        margin-right: 2%;
        background-color: rgba(124,145,150,.8);
        text-align: center;

        h2, h3{
            color: white;
        }

        h2{
            margin-top: 30%
        }
        
        p{
            background-color: #4a4a4c;
            border: none;
            font-size: large;
            display: inline-block;
            padding: 10px;

            a{
                text-decoration: none;
                color: white;
            }
        }
    }
}

.categoryPage{
    display: flex;
}

.sidebar{
    background-color: darkgrey;
    width: 25%;
    text-align: center;

    div{
        margin-left: 22%;

        div{
            margin-left: 0;
        }
    }

    h2{
        color: white;
    }
}

.productList{
    width: 75%;
    flex-wrap: wrap;
}

.product{
    border: 2px solid black;
    margin: 1%;
    float: left;
    width: 185px;
    height: 190px;
    position: relative;

    div{
        
        text-align: center;
        font-size: small;
        max-height: 20%;
        
        p{
            margin: 0;
        }
    }

    img{
        max-width: 100%;
        height: 80%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        transition: .5s ease;
    }

    &:hover{
        img{
            opacity: 0.3;
        }
        
    }
}

.cover{
    transition: .5s ease;
    opacity: 0;
    text-align: center;
    transform: translate(-0%, -350%);

    &:hover{
        opacity: 2;
    }

    img{
        height: 100%;
    }
}

form{
    margin-top: 2%;

    label, input{
        width: 20%;
    }
    input{
        margin-bottom: 1%;
    }
    input[type="submit"]{
        background-color: black;
        color: white;
        height: 35px;

        &:hover{
            background-color: #ddd;;
            color: black;
        }
    }
}

.link{
    text-decoration: none;
    color: black;
    background-color: lightgray;
    padding: 5px;
}

.cartItem{
    b{
        float: right;
    }
}

.buyButton{
    background-color: green;
    border-color: green;
    font-size: larger;
    color: rgba(0, 180, 45, 0.8);
}